
th{
	background-color: #FFFFFF;
	font-family: Calibri;
	font-size: 24px;
	color: #00FA9A;
}

.table1 {
	background-color: #FF00FF;
	border-color: #CC0066;
}

.table2 {
	background-color: #CCFFCC;
}

#text {
	font-family: Helvetic;
	font-size: 16px;
	color: 000000;
}